# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
mlruns
teste.ipynb
mlruns.db
artifacts/countplot_playoffs.png
artifacts/countplot_shot_made_flag.png
artifacts/histogram_lat.png
artifacts/histogram_lon.png
artifacts/histogram_minutes_remaining.png
artifacts/histogram_period.png
artifacts/histogram_shot_distance.png
artifacts/learning_curve_RandomForestClassifier.png
artifacts/validation_curve_RandomForestClassifier.png
final_model/conda.yaml
final_model/MLmodel
final_model/model.pkl
final_model/python_env.yaml
final_model/requirements.txt
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/.txt
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/countplot_playoffs.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/countplot_shot_made_flag.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/histogram_lat.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/histogram_lon.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/histogram_minutes_remaining.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/histogram_period.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/histogram_shot_distance.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/learning_curve_RandomForestClassifier.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/validation_curve_RandomForestClassifier.png
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/conda.yaml
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/MLmodel
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/model.pkl
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/python_env.yaml
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/requirements.txt
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/metadata/conda.yaml
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/metadata/MLmodel
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/metadata/python_env.yaml
mlartifacts/0/59a0779bd90b4135bb9588da0c9e15c7/artifacts/PreparacaoDados/metadata/requirements.txt
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/predictions_plots.png
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/conda.yaml
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/MLmodel
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/model.pkl
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/python_env.yaml
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/requirements.txt
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/metadata/conda.yaml
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/metadata/MLmodel
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/metadata/python_env.yaml
mlartifacts/0/a3548d02fd0347a29f020a173322dceb/artifacts/koube-predictor/metadata/requirements.txt
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/confusion_matrix_decision_tree.png
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/confusion_matrix_logistic_regression.png
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/roc_curve_decision_tree.png
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/roc_curve_logistic_regression.png
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/conda.yaml
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/MLmodel
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/model.pkl
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/python_env.yaml
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/requirements.txt
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/metadata/conda.yaml
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/metadata/MLmodel
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/metadata/python_env.yaml
mlartifacts/0/c1260397eb66499786a344e70a3a7dff/artifacts/Treinamento/metadata/requirements.txt
output/confusion_matrix_decision_tree.png
output/confusion_matrix_logistic_regression.png
output/predictions_plots.png
output/predictions.parquet
output/roc_curve_decision_tree.png
output/roc_curve_logistic_regression.png
